body {
    color:#FFFFFF;
    background-color: #000000;
    margin: 0;
    overflow: hidden;

}

#msg
{
    font-family: Arial, Helvetica, sans-serif;
    padding:20px;
    position: absolute;
}

#container
{
    position: absolute;
}


